<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Axu loves Daddu n Mumma!</h4>
      <h4>Axu also loves Pizza, Burger, Mutton, Fish also Bhakri Pizza!</h4>
      <br>
       <h4>created by Axu's sagalyat Motha Dada!</h4>
    </div>
  </body>
</html>
